# pip install -i https://mirrors.aliyun.com/pypi/simple/ -r requirements.txt
pandas
numpy
matplotlib
requests
xloil
pywin32==306
plotly
scipy
bottleneck 
SQLAlchemy==2.0.20
cx_Oracle==8.3.0
statsmodels==0.14.4
python-dotenv==1.0.1
notion-client==2.3.0

